<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>
			Flask Testing
		</title>
	</head>
    <body>
    <p style="font-family:verdana">
    Our users:
    {% for j in joblist %}
        <div>{{j[0]}}, {{j[1]}}</div> 
    {% endfor %}
    </p>
</body>
</html>>